/* 自定义css */

* {
    /* 去除点击高亮 */
    -webkit-tap-highlight-color: transparent;
}

input,
button {
    /* 在移动端浏览器默认的外观在ios上加上这个属性才能给按钮和输入框自定义样式  */
    -webkit-appearance: none;
}

a {
    /* 禁止长按页面时的弹出菜单 */
    -webkit-touch-callout: none;
}

body {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    font-family: -apple-system, Helvetica, sans-serif;
}

img {
    vertical-align: middle;
}

.app {
    height: 45px;
}

.app ul li {
    float: left;
    height: 45px;
    background-color: #333333;
    text-align: center;
    line-height: 45px;
    color: #fff;
}

.app ul li:nth-child(1) {
    width: 8%;
}

.app ul li:nth-child(1) img {
    width: 8px;
}

.app ul li:nth-child(2) {
    width: 10%;
}

.app ul li:nth-child(2) img {
    width: 30px;
    vertical-align: middle;
}

.app ul li:nth-child(3) {
    width: 57%;
}

.app ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}


/* 搜索区域 */

.search_wrap {
    position: fixed;
    /* 解决.search的margin外边距塌陷 */
    overflow: hidden;
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 640px;
    z-index: 999;
}

.search_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}

.search_btn::before {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    background: url(../images/s-btn.png) no-repeat;
    background-size: 20px 18px;
    margin: 14px 0px 0 18px;
}

.search_login {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
}

.search {
    position: relative;
    height: 30px;
    margin: 7px 50px 0;
    border-radius: 15px;
    background-color: #fff;
}

.jd_icon {
    position: absolute;
    top: 8PX;
    left: 13PX;
    height: 15px;
    width: 20px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}

.jd_icon::after {
    position: absolute;
    right: -10px;
    display: block;
    content: "";
    width: 1px;
    height: 15px;
    background-color: #ccc;
}

.sou {
    position: absolute;
    top: 8px;
    left: 50px;
    width: 18px;
    height: 15px;
    /* 1、在firework里面把精灵图等比例缩放为原来的一半
    2、之后根据大小测量坐标
    3、注意代码里的background-size也要写：精灵图原来的一半 */
    background: url(../images/jd-sprites.png) -81px 0;
    background-size: 200px auto;
}

.slider img {
    width: 100%;
}


/* 引入的swiper的css文件 */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: #fff!important;
}

.brand {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    width: 100%;
}

.brand div {
    float: left;
    width: 33.33%;
}

.brand div img {
    width: 100%;
}


/* nav部分 */

nav {
    padding-top: 5px;
}

nav a {
    float: left;
    width: 20%;
    margin: 10px 0;
    text-align: center;
}

nav a img {
    width: 40px;
}

nav a span {
    display: block;
}


/* news模块 */

.news {
    margin-top: 20px;
}

.news a {
    float: left;
    box-sizing: border-box;
}

.news a img {
    width: 100%;
}

.news a:nth-child(1) {
    width: 50%;
}

.news a:nth-child(n+2) {
    width: 25%;
    border-left: 1px solid #ccc;
}